<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/static/css/order.css" />
    <meta charset="utf-8">
    <title>Request Credit Repair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="author" content="RohithAditya">
    <link rel="shortcut icon" href="/assets/static/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/static/images/logo.png" type="image/x-icon">
    <meta name="theme-name" content="ameco-capital" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" /> 

  <link rel="stylesheet" href="/assets/static/css/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" integrity="sha512-jQqzj2vHVxA/yCojT8pVZjKGOe9UmoYvnOuM/2sQ110vxiajBU+4WkyRs1ODMmd4AfntwUEV4J+VfM6DkfjLRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/assets/static/css/style.css">

    
  <style>

    .commonclass {
       color: white;
       background: #182850;
       border: none;
       }
       
      .coupanapply {
       
       padding: 5px 25px;
       border-radius: 22px;
       margin-top: 10px;
       }

      .coupanapply, .fetchfiles:hover{
           opacity: 0.9;
           color: white;
       }

       .fetchfiles{
      
       padding: 1rem 4rem;
       border-radius:12px;
       font-size: 1rem;
       }

   </style>
</head>

<body>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <p class="text-primary text-uppercase fw-bold mb-3">Fetch files, from server</p>
                        <h1>Credit Repair Order Id: {{abcdef}}  </h1>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="shadow rounded p-5 bg-white">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h4>Please Upload These Documents in your <a href="/login">secure client access portal</a>, <br> As It's Very Much Important. </h4>
                            </div>
                            <div class="alert alert-danger" role="alert" id="ahaha">
                            </div>
                            <div class="col-lg-6">
                                <div class="contact-form">
                                    <form method="POST">
                                        <div class="form-group mb-4 pb-2">
                                            <h6 style="color: black;" for="exampleFormControlInput1"
                                                class="form-label" >Do You Have a Utlity Bill/SSN ?*</h6>
                                            
                                            <select class="form-control shadow-none" id="cntnct"
                                            name="legal_name">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-4 pb-2" id="coupon_section">
                                            <label style="color: black;" for="promo"
                                                class="form-label">Promo Code</label>
                                            
                                                <input type="text" class="form-control shadow-none" id="coupon_code"
                                            name="legal_name" name="mobnum" placeholder="FIRST" required>
                                                    <br>
                                            <input type="button" id="apply_coupon" class="" value="Apply">
                                            
                                            
                                        </div>
                                        <input type="submit" class="fetchfiles commonclass coupanapply" value="Fetch Files">
                                           <!-- <a href="final-preview" >  </a> -->
                                            
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </section>

    <script src="/assets/static/js/script.js"></script>
    <script src="/assets/static/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/static/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/static/plugins/slick/slick.min.js"></script>
    <script src="/assets/static/plugins/scrollmenu/scrollmenu.min.js"></script>


    <script>
      // Add event listener to the Apply button
      document.getElementById("apply_coupon").addEventListener("click", function() {
        // Get the coupon code value from the input field
        var couponCode = document.getElementById("coupon_code").value;
        
        // Make an AJAX request to the server to apply the coupon
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/apply_coupon");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onload = function() {
          if (xhr.status === 200) {
        // sessionStorage.setItem("coupon_code", couponCode);
        // alert("Coupon applied successfully!");

        var couponSection = document.getElementById("coupon_section");
        couponSection.innerHTML = "Coupon <strong>" + couponCode + "</strong> has been applied.";
      } else {
            alert("Error applying coupon.");
          }
        };
        xhr.send(JSON.stringify({ coupon_code: couponCode }));
      });
    </script>

<script>
    var er = document.getElementById("ahaha");
    if (er) {
        setTimeout(function () {
            er.style.display = "none";
        }, 9000);
    }
</script>

</body>
</html>