<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>Terms & Conditions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="This is meta description">
  <meta name="author" content="RohithAditya">
  <meta name="theme-name" content="ameco-capital" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" integrity="sha512-jQqzj2vHVxA/yCojT8pVZjKGOe9UmoYvnOuM/2sQ110vxiajBU+4WkyRs1ODMmd4AfntwUEV4J+VfM6DkfjLRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/static/css/style.css">
</head>

<body>

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="content">
            <h3 id="the-use-of-the-information">© amecocapital.com, Inc.</h3>
            <p>
              Last Updated November 2022
              <br>
              <br>
              <br>
              This Website Terms of Use Agreement (“Website Terms”) is between you and amecocapital.com,
              its past, present, or future parents, subsidiaries, affiliates, predecessors, assignees, successors, and
              their respective agents, employees, directors, officers, partners, and members
              (whether acting in their corporate or individual capacity) (amecocapital.com,” “we” or “us”), with a
              principal place of business at 600 Stewart Street, Suite 1100, Seattle, WA 98101. Notwithstanding any
              language in the Website Terms to the contrary, the Website Terms have the same effect as an agreement in
              writing and govern your use of this site and its content (the “Website”), your engagement of
              amecocapital.com’s services,
              your request that amecocapital.com contact you about its credit repair services,
              and/or your participation in amecocapital.com’s
              Text Message Program. amecocapital.com’s “Text Message Program” includes sending text message(s)
              to amecocapital.com and/or receiving text message(s) from amecocapital.com.
              <br>
              <br>
              BY USING THE WEBSITE, ENGAGING LIMAONECAPITAL.COM’S SERVICES, REQUESTING THAT amecocapital.com
              CONTACT YOU ABOUT ITS CREDIT REPAIR SERVICES, AND/OR PARTICIPATING IN LIMAONECAPITAL.COM’S TEXT MESSAGE
              PROGRAM,
              YOU SIGNIFY YOUR AGREEMENT TO THE WEBSITE TERMS.
              amecocapital.com’s Privacy Policy applies to your use of amecocapital.com’s website,
              all services provided by us, your request that amecocapital.com contact you about its
              credit repair services, and/or your participation in amecocapital.com’s Text Message Program,
              and its terms are made a part of the Website Terms.
              To view amecocapital.com’s Privacy Policy, click here.
              By using amecocapital.com’s website, engaging our services,
              requesting that amecocapital.com contact you about its credit repair services,
              and/or participating in amecocapital.com’s Text Message Program,
              you acknowledge you have reviewed amecocapital.com’s Privacy Policy and agree to its terms.
              BY USING amecocapital.com’S WEBSITE, ENGAGING amecocapital.com’S SERVICES,
              REQUESTING THAT amecocapital.com CONTACT YOU ABOUT ITS CREDIT REPAIR SERVICES,
              AND/OR PARTICIPATING IN amecocapital.com’S TEXT MESSAGE PROGRAM,
              YOU AGREE TO ARBITRATE ALL CLAIMS BETWEEN YOU AND amecocapital.com ON AN INDIVIDUAL BASIS
              ONLY AND NOT AS A PART OF ANY CLASS.
            </p>
            <p>
              A “CLAIM” IS ANY CASE, CONTROVERSY, DISPUTE, TORT, DISAGREEMENT, LAWSUIT, LEGAL ACTION, OR CLAIM NOW OR
              HEREAFTER PENDING BETWEEN YOU AND amecocapital.com,
              INCLUDING BUT NOT LIMITED TO ANY ALLEGED STATE OR FEDERAL STATUTORY VIOLATION, OR ANY DISPUTE OVER THE
              INTERPRETATION OF
              THE WEBSITE TERMS OR THE ARBITRABILITY OF ANY CLAIM PURSUANT TO THE WEBSITE TERMS. THIS
              AGREEMENT TO ARBITRATE GOVERNS ALL PAST, CURRENT AND PROSPECTIVE INTERACTIONS
              WITH amecocapital.com. YOU AGREE THAT YOU ARE WAIVING ALL RIGHTS TO:
            </p>
            <ul>
              <li>(A) A TRIAL BY JURY</li>
              <li>(B) PARTICIPATE IN A CLASS ACTION LAW SUIT OR CLASS ACTION ARBITRATION AND </li>
              <li>(C) BRING AN ACTION AGAINST amecocapital.com </li>
            </ul>
            <p>
              IN A COURT OF LAW. YOU MAY INDIVIDUALLY ARBITRATE ANY CLAIM AGAINST amecocapital.com
              IN ANY JURISDICTION IN THE UNITED STATES. amecocapital.com WILL
              REIMBURSE YOU UP TO $300 OF YOUR ARBITRATION FILING FEE. THE RULES OF THE
              AMERICAN ARBITRATION ASSOCIATION THEN IN FORCE SHALL GOVERN THE ARBITRATION
              (provided, however, that the terms of the Website Terms shall control over any
              inconsistency between the Rules of the American Arbitration Association and the Website Terms).
              The arbitrator shall have authority to interpret the Website Terms, including but not
              limited to the authority to decide whether any claim is arbitrable under the Website Terms
              and to decide issues related to the scope of arbitration, the rules of arbitration,
              the arbitrator’s jurisdiction, and the enforceability of the Website Terms.
              You agree that the Website Terms involves commerce under 9 U.S.C. §§ 1 et seq. and
              that this Arbitration Clause is governed by federal law, including the Federal
              Arbitration Act.
              The remainder of the Website Terms is governed by the laws of the state of Georgia, as provided in Section
              19 below.
            </p>

            <h3 id="application-processing">About the Website Terms</h3>
            <p>
              The Website is a service made available by amecocapital.com.
              If you do not agree to the Website Terms, you may not use the Website.
              We may modify the Website Terms at any time.
              If you do not agree to the changes, you must discontinue using the Website, discontinue using
              amecocapital.com’s services,
              rescind your request that amecocapital.com contact you about its credit repair services,
              and/or discontinue your participation in amecocapital.com’s Text Message
              Program before the changes take effect. Your continued use of the Website,
              use of amecocapital.com’s services, request that amecocapital.com contact you
              about its credit repair services, and/or participation in amecocapital.com’s
              Text Message Program after any such changes take effect constitutes your
              acceptance to such changes. Each time you visit or log in to the Website,
              continue using amecocapital.com’s services, continue your request that amecocapital.com
              contact you about its credit repair services, and/or participate in amecocapital.com’s
              Text Message Program, you reaffirm your acceptance of the Website Terms.
              You are responsible for regularly reviewing the Website Terms,
              by clicking on the "Terms of Use" link at www.amecocapital.com. The Website Terms may
              be supplemented by additional terms and conditions applicable to privacy, specific areas of this Website,
              or to where particular content or transactions are posted in particular areas of the Website and,
              together with the Website Terms, govern your use of those areas, content, or transactions.
            </p>
            <h3 id="what-services-we-render">About the Website</h3>
            <p>The Website gives users information about amecocapital.com’s credit repair services, general educational
              and informational resources about credit, and the ability to sign up for and engage amecocapital.com’s
              services.</p>

            <h3 id="intellectual-property-rights">Signing Up for amecocapital.com’s Services</h3>
            <p>
              You are not required to sign up for amecocapital.com’s services in order to visit and read material on the
              Website; however, you will need to sign up if you want amecocapital.com to assist you in your efforts to
              improve your credit reports and rating. If you sign up, you agree to provide accurate and complete
              information. You must be legally capable to enter into contracts. It is your responsibility to make any
              updates to that information. Each sign-up is for a single person only. We do not permit any other person
              to enroll in amecocapital.com’s services on behalf of another unless you have an appropriate Power of
              Attorney. You are responsible for preventing such unauthorized use. If you believe there has been
              unauthorized use, you should notify amecocapital.com immediately by emailing
              admin@amecocapital.com.
              If you participate in amecocapital.com’s Text Message Program after you sign up for services, you may stop
              receiving servicing text messages by texting STOP (and no other words or characters) to the short code
              from which you received the amecocapital.com text message(s). Almost all STOP requests are taken care of
              immediately, but it may take up to 3 business days from the date you text STOP to be removed from
              amecocapital.com’s texting list(s). Note that texting STOP in response to a servicing text message will
              only stop servicing text messages, and will only stop text messages to the phone number you used to text
              STOP.
            </p>

            <h3 id="your-credt-reports">Member Files</h3>
            <p>
              Should you choose to sign up for amecocapital.com’s services, you will enter into a separate written
              agreement with amecocapital.com. Each file we create in conjunction with this separate written agreement
              is called a “Member File.” Your Member File will continue to be subject to the agreements otherwise
              governing them, except where so noted in the related agreement. Each Member File will be subject to the
              following:
            </p>
            <ul>
              <li>The terms or instructions appearing on a screen when using the service;</li>
              <li>amecocapital.com’s policies and procedures applicable to the Member File and the online service;</li>
              <li>Applicable state and federal laws and regulations.</li>
            </ul>

            <h3 id="your-credit-reports">Access to Member Files</h3>
            <p>
              You may access your Member File by logging into the Website. You are responsible for maintaining the
              confidentiality of your password and account, and are fully responsible for all activities that occur
              under your password or account. You agree to (a) immediately notify amecocapital.com of any unauthorized
              use of your password or account or any other breach of security, and (b) ensure that you exit from your
              account at the end of each session. amecocapital.com cannot and will not be liable for any loss or damage
              arising from your failure to comply with this Section.
            </p>
            <p>
              You authorize amecocapital.com to provide access to your Member File(s) through its online services. You
              may access your Member File(s) at members.amecocapital.com (the “Member Website”) to obtain account
              payment information, a sequential docket of services provided and notes made to the file, credit report
              information received from you by amecocapital.com and input into your file, your disputing instructions,
              and other information. To access a Member File through the online service you must have a password and the
              required hardware and software. Subject to the terms of this agreement and any separate written
              agreement(s), you will generally be able to access your Member File through the Member Website seven days
              a week, 24 hours a day. Member File information is posted to the file at the time work is completed on the
              Member File.
              At certain times, the online services may not be available due to system maintenance or circumstances
              beyond our control. During these times, you may call amecocapital.com at 1-800-232-6499 or send an E-mail
              to contact@amecocapital.com obtain information about your Member File.
            </p>

            <h3 id="your-credit-reports">Ownership</h3>
            <p>
              The Website contains information, content or advertisements text, photographs, designs, graphics, images,
              sound and video recordings, animation and other materials and effects (collectively, the "Content") that
              are protected by copyrights, trademarks, service marks, trade dress, patents or other intellectual or
              proprietary rights owned by amecocapital.com or other third parties. All trademarks and copyrighted
              information contained on the Website are the property of their respective owners. Further,
              amecocapital.com retains all rights (including intellectual property rights), title and interest in the
              Website, technology, and all underlying technology and data including any enhancements, software,
              applications and improvements related to the Website (the "Technology")(the terms Content and Technology
              collectively will be referred to as the "Materials"). You may not remove from any electronic or printed
              copy any copyright, trademark, or other proprietary notice.
            </p>
            <p>
              You may not use, copy, reproduce, modify, publish, transmit, distribute, perform, display, license, create
              derivative works from, transfer, or sell any Materials, in whole or in part, without the prior written
              consent of amecocapital.com or the applicable third party owner. You may not use any Materials for any
              purpose other than as expressly permitted by the Website Terms. You may not use any Materials in any
              manner that suggests an association with amecocapital.com or its products or services, or that disparages
              or discredits amecocapital.com or its products or services. You may not use any Materials in any manner
              that infringes any intellectual property rights of amecocapital.com or any third party. You may not use
              any Materials in any manner that violates any law, statute, ordinance or regulation. You may not use any
              Materials in any manner that is defamatory, libelous, threatening, harassing, abusive, hateful, or
              embarrassing to any other person or entity as determined by amecocapital.com in its sole discretion.
            </p>

            <h3 id="your-credit-reports">Use of Website and Materials</h3>
            <p>
              amecocapital.com provides the Website and the Materials for your individual, non-commercial use and solely
              for the purpose of carrying out individual transactions with the Website. Any other use of the Website or
              the Materials is strictly prohibited. You may not, either directly or indirectly:
            </p>
            <ul>
              <li>Modify, republish, redistribute, delete, resell, sublicense, publicly perform, cache by proxy the
                Website or Materials without the express written permission of amecocapital.com or the applicable rights
                holder</li>
              <li>Use the Materials for telemarketing, direct marketing, and commercial mass e-mail or by agents or
                representatives or e-mail spammers</li>
              <li>Reverse engineer, decompile, disassemble, merge, copy, use, disclose, rent, lease, loan, sell,
                sublicense or transfer the underlying source code or structure or sequence of the Technology or delete
                or alter author attributes or copyright notices</li>
              <li>Use any network monitoring or discovery software to determine Website architecture, or extract
                information about usage or users</li>
              <li>Reformat or frame any portion of the Website or Materials</li>
              <li>Use any device, software or routine that interferes with the proper working of the Website, or
                otherwise attempt to interfere with the proper working of the Website</li>
              <li>Take any action that imposes, or may impose in our sole discretion an unreasonable or
                disproportionately large load on our infrastructure</li>
              <li>Attempt to gain unauthorized access to other computer systems</li>
              <li>Violate the Website Terms, applicable law or the rights of others or disrupt or interfere with the
                security of, or otherwise cause harm to, the Website.</li>
            </ul>
            <p>
              Any permitted use of the Website does not extend to using the Website or Materials for any illegal
              purpose, or to transmit to or through the Website or to or through any service any illegal, harmful,
              threatening, defamatory, obscene, hateful, pornographic or other objectionable material of any kind, or to
              interfere with, abuse or otherwise violate the legal rights of any third party using the Website or
              Materials.
              Without limiting other remedies, we may limit, suspend, or terminate our service and user accounts,
              prohibit access to our website, remove hosted content, and take technical and legal steps to keep users
              off the Website if we think that they are creating problems, possible legal liabilities, or acting
              inconsistently with the letter or spirit of our policies. We also reserve the right to cancel unconfirmed
              accounts.

            </p>

            <h3 id="your-credit-reports">License</h3>
            <p>
              By using the Website, uploading content to or submitting any materials for use on the Website, you grant
              (or warrant that the owner of such rights has expressly granted) amecocapital.com a perpetual,
              royalty-free, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish,
              translate, create derivative works from and distribute such materials and/or information generated through
              use of the Website or incorporate such materials and/or information generated through use of the Website
              into any form, medium, or technology now known or later developed throughout the universe. We need these
              rights to host and display your content.
              Anonymous, aggregate information that does not contain personally identifiable information, comprising
              account information, or other available data that is collected through your use of the Website, may be
              used or licensed by amecocapital.com for various purposes including but not limited to conducting certain
              analytical research, performance tracking, benchmarking, helping to improve products and services and to
              assist in troubleshooting and technical support.
            </p>

            <h3 id="your-credit-reports">Automated Activity</h3>
            <p>
              The Website may use robot exclusion methods, which include robots.txt files and HTML meta tags, which
              expressly allow and/or exclude specified automated programs from accessing certain portions of the
              Website. Much of the information on the Website is updated on a real time basis and is proprietary or is
              licensed to amecocapital.com by our users or third parties. You agree that you will not use any robot,
              spider, scraper or other automated means to access the Website for any purpose, including but not limited
              to performing "offline" searches and mirroring, without our express written permission as indicated in the
              then current robots.txt file or HTML meta tags on the Website. Additionally, you agree that you will not
              bypass our robot exclusion methods or other measures we may use to prevent or restrict access to the
              Website.
            </p>

            <h3 id="your-credit-reports">Linking</h3>
            <p>
              You may provide links only to the homepage of this Website, provided (a) you do not remove or obscure, by
              framing or otherwise, any portion of the homepage, (b) you give amecocapital.com notice of such link by
              sending an e-mail to contact@amecocapital.com and (c) you discontinue providing links to this Website if
              requested by amecocapital.com. If you wish to provide links to a section within the Website, you should
              forward your request to amecocapital.com at contact@amecocapital.com and amecocapital.com will notify you
              if, within its sole and unfettered discretion, permission is granted, and, if so, the terms and conditions
              of the permission.
            </p>
            <p>
              You may not use any amecocapital.com logo or other proprietary graphic or trademark as part of the link
              without express written permission.
            </p>
            <p>
              You may not frame or utilize framing techniques to enclose any amecocapital.com trademark, logo or other
              proprietary information (including images, text, page layout, or form) without express written consent.
              You may not use any meta tags or any other "hidden text" utilizing amecocapital.com name or trademarks
              without the express written consent of amecocapital.com. Any unauthorized use terminates the permission or
              license granted by amecocapital.com. You are granted a limited, revocable, and nonexclusive right to
              create
              a hyperlink to the Website so long as the link does not portray amecocapital.com, its products or services
              in a false, misleading, derogatory, or otherwise offensive matter. You may not use any amecocapital.com
              logo or other proprietary graphic or trademark as part of the link without express written permission.
            </p>

            <h3 id="your-credit-reports">Representations</h3>
            <p>
              You represent and warrant to us that
            </p>
            <ul>
              <li>you are legally capable to enter into contracts</li>
              <li>you are providing us at all times true, accurate and up to date information about yourself</li>
              <li>you will comply at all times with the Website Terms and applicable law and</li>
              <li>your use of the Website and any transactions that you make with us will not violate the rights of any
                third party.</li>
            </ul>
            <p>
              amecocapital.com’s services and Website, the underlying information, software and technology are subject
              to U.S. export controls. None of the Website services or content may be downloaded, or otherwise exported
              or re-exported
            </p>
            <ul>
              <li>into (or to a national or resident of) Cuba, North Korea, Iran, Sudan, Syria or any other country
                subject to U.S. sanctions applicable to the export or re-export of goods</li>
              <li>to anyone on the U.S. Treasury Department’s List of Specially Designated Nationals and Blocked Persons
                List, or the U.S. Commerce Department’s Denied Persons List, Unverified List, Entity List or
                Nonproliferation Sanctions List. By using amecocapital.com’s services and Website, you agree to the
                foregoing and you represent and warrant that you are not located in, under the control of, or a national
                or resident of any such country or on any such list, and that you acknowledge you are responsible to
                obtain any necessary U.S. government authorization to ensure compliance with U.S. law.</li>
            </ul>

            <h3 id="your-credit-reports">Disclaimer</h3>
            <p>
              amecocapital.com makes every effort to ensure the information presented in, on or through its Website is
              accurate. however, amecocapital.com makes no guarantee as to such information, and is not responsible for
              any resulting loss or damage.
            </p>

            <h3 id="your-credit-reports">Warranty, Liability, Indemnification</h3>
            <p>
              amecocapital.com makes no representations regarding the availability and performance of its Website. You
              hereby acknowledge that any use of the Website and reliance upon any Materials shall be at your sole risk
              and that amecocapital.com shall not be liable for any loss of data, lost profits or any other damages or
              losses resulting from such use.
              THE WEBSITE AND MATERIALS ARE PROVIDED BY amecocapital.com ON AN "AS IS" BASIS AND AS AVAILABLE, WITHOUT
              ANY WARRANTY OR REPRESENTATION OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE.
              amecocapital.com EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT
              LIMITATION WARRANTIES OF MERCHANTABILITY, ACCURACY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT AND
              THE IMPLIED CONDITIONS OF SATISFACTORY QUALITY AND ACCEPTANCE AS WELL AS ANY LOCAL JURISDICTIONAL
              ANALOGUES TO THE ABOVE AND OTHER IMPLIED OR STATUTORY WARRANTIES. WE MAKE NO REPRESENTATIONS THAT THE
              WEBSITE OR MATERIALS WILL MEET YOUR REQUIREMENTS, OR THE RESULTS THAT YOU MAY GAIN FROM YOUR USE OF THE
              WEBSITE.
              IN NO EVENT SHALL amecocapital.com, ITS DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS OR CONTRACTORS
              BE LIABLE FOR ANY COMPENSATORY, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, LOSS OF
              DATA, INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY, OR ANY CLAIMS OF YOU OR OTHER THIRD PARTIES
              WHATSOEVER WITH RESPECT TO THE WEBSITE OR THE MATERIALS REGARDLESS OF THE LEGAL THEORY ON WHICH THE CLAIM
              IS BASED, INCLUDING, WITHOUT LIMITATION, ANY DAMAGES THAT RESULT FROM ANY MISTAKE, OMISSION, VIRUS, DELAY
              OR INTERRUPTION IN OPERATION OR SERVICE OR FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM AN ACT OF
              GOD, COMMUNICATIONS FAILURE, THEFT OR OTHERWISE. amecocapital.com SHALL NOT BE LIABLE FOR ANY LOSSES OR
              DAMAGES WHATSOEVER RESULTING FROM ANY FAILURE OF THE INTERNET. Some states do not allow the exclusion or
              limitation of liability of consequential or incidental damages, so the above exclusions may not apply to
              all users; in such states liability is limited to the fullest extent permitted by law.
              amecocapital.com DOES NOT GUARANTEE THAT ANY CONTENT, INFORMATION, SOFTWARE OR OTHER MATERIAL ACCESSIBLE
              THROUGH THE WEBSITE WILL BE FREE OF VIRUSES, "WORMS", "TROJAN HORSES", OR THEIR HARMFUL COMPONENTS.
              amecocapital.com’S ENTIRE LIABILITY AND YOUR SOLE AND EXCLUSIVE REMEDY WITH RESPECT TO THE USE OF ANY
              SERVICES PROVIDED BY amecocapital.com SHALL BE CANCELLATION OF YOUR ACCOUNT.
            </p>
            <h3 id="your-credit-reports">Indemnity</h3>
            <p>
              You agree to indemnify, defend, and hold harmless amecocapital.com, its officers, directors, employees,
              agents, representatives, vendors and distributors from and against any and all claims, liabilities,
              damages, losses, costs, expenses, or fees (including reasonable attorneys’ fees) that such parties may
              incur as a result of or arising from your (or anyone using your account’s) violation or breach of any
              representation or obligation under the Website Terms. We reserve the right to assume the exclusive defense
              and control of any matter otherwise subject to indemnification by you and, in such case, you agree to
              cooperate with our defense of such claim.
            </p>

            <h3 id="your-credit-reports">Privacy</h3>
            <p>
              We may, subject to and in accordance with our Privacy Policy for marketing and other purposes, collect,
              process and transmit certain data obtained from and about you in the course of your accessing the Website
              or during a phone consultation, including information collected in the course of an abandoned transaction.
              By agreeing to the Website Terms you agree to such data being so used and further agree that it may be
              transmitted to others whether or not within the United States in accordance with our Privacy Policy and
              under applicable privacy and data protection legislation. Information on how and what type of data (if
              any) is held about you can be obtained by clicking here to review our Privacy Policy or by contacting us.
            </p>

            <h3 id="your-credit-reports">Electronic Notices and Transactions</h3>
            <p>
              You agree to transact with us electronically. This means you agree to accept any terms and conditions and
              to transact any business with us by electronic means, which includes receiving all documents in HTML or
              PDF format and communicating over the Internet. You also certify that you are at least 18 years of age and
              have access to the Internet to receive amecocapital.com’s services, to request that amecocapital.com
              contact you about its credit repair services, to participate in amecocapital.com’s Text Message Program,
              and to view, print and retain all documentation. You authorize us to send you important notices about the
              Website and any pending transactions to an email address you provide to us, if you are a member of
              amecocapital.com or have requested that we contact you about our credit repair services. It is your duty
              to keep your email address up to date and to maintain a valid email address and to ensure that emails we
              send you are not filtered or stopped by spam filters or other types of email blocking functionalities. If
              you no longer desire to transact electronically with us, you may no longer use the Website or
              amecocapital.com’s services. You can retrieve and review the Website Terms at any time by visiting
              https://www.amecocapital.com, and may receive paper copies by calling amecocapital.com at 1-470-452-1929.
            </p>

            <h3 id="your-credit-reports">Access</h3>
            <p>
              You agree that you will not use any robot, spider, scraper or other automated means to access the Website
              for any purpose without our express written permission. Additionally, you agree that you will not: (i)
              take any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately
              large load on our infrastructure; (ii) interfere or attempt to interfere with the proper working of the
              Website or any activities conducted on the Website; or (iii) bypass any measures we may use to prevent or
              restrict access to the Website.
            </p>
            <p>
              You are responsible for obtaining at your own expense all equipment and services needed to access and use
              the Website, including all devices, Internet browsers and Internet access. If you access the Website or a
              Website application through a mobile or wireless device, you are responsible for all fees that your
              carrier may charge you for data, text messaging and other wireless access or communications services.
            </p>

            <h3 id="your-credit-reports">Notice Regarding Technology</h3>
            <p>
              The Website may contain links to other websites. We are not responsible for the privacy practices or the
              content of such websites. We encourage you to read the privacy statements of each website that collects
              personally identifiable information. This Privacy Policy applies solely to information collected by the
              Website.
            </p>
            <p>
              Your use of the Website must comply with all applicable laws in the territory in which you access and use
              the Website.
            </p>
            <h3 id="your-credit-reports">Miscellaneous</h3>
            <p>
              amecocapital.com reserves the right to investigate complaints or reported violations of the Website Terms
              and to take any action amecocapital.com deems appropriate including but not limited to reporting any
              suspected unlawful activity to law enforcement officials, regulators, or other third parties and
              disclosing any information necessary or appropriate to such persons or entities relating to user profiles,
              e- mail addresses, usage history, posted materials, IP addresses and traffic information. amecocapital.com
              reserves the right to seek all remedies available at law and in equity for violations of the Website
              Terms, including but not limited to the right to block access from a particular Internet address to any
              amecocapital.com website. These incorporate by reference any notices contained on the Website and
              constitute the entire agreement with respect to access to and use of the Website, your request that
              amecocapital.com contact you about its credit repair services, and/or your participation in
              amecocapital.com’s Text Message Program. You agree that the provisions and covenants set forth herein are
              reasonable. In the event that any provision or covenant of the Website Terms shall be held invalid,
              illegal or unenforceable by a court or arbitrator of competent jurisdiction for any reason, including but
              not limited to the scope thereof, then such provision will be severed and replaced with a new provision
              that most closely reflects the original intention thereof, and the remaining provisions of the Website
              Terms will remain in full force and effect for the greatest time period and for the broadest scope
              permitted by applicable law. Without limiting the foregoing, you agree and request that if any court or
              arbitrator of competent jurisdiction considers any provision or covenant of the Website Terms to be overly
              broad based on the circumstances at the time enforcement is requested, that such court or arbitrator
              construe and enforce the provision or covenant to the fullest extent that such court or arbitrator deems
              reasonable.
              THE WEBSITE TERMS SHALL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE STATE OF UTAH,
              USA, AS THEY APPLY TO AGREEMENTS MADE SOLELY THEREIN, PROVIDED, HOWEVER, THAT THE ARBITRATION CLAUSE IS
              GOVERNED BY FEDERAL LAW. The Arbitration Clause, the obligations in the first four paragraphs of the
              Website Terms, and Sections 6 through 8, 11 through 15, and 17 through 20 shall survive termination of the
              Website Terms.
              amecocapital.com shall not be deemed to have waived any rights or remedies in the Website Terms unless
              such waiver is in writing and signed by amecocapital.com. No delay or omission on the part of
              amecocapital.com in exercising any rights or remedies shall operate as a waiver of such rights or remedies
              or any other rights or remedies. A waiver on any one occasion shall not be construed as a waiver of any
              rights or remedies on future occasions.
              The Website Terms constitutes the entire agreement and understanding between you and amecocapital.com,
              except as you and amecocapital.com may later agree in writing to modify the Website Terms. The Website
              Terms supersedes any and all prior agreements and understandings, oral or written, relating to the subject
              matter contained herein.
            </p>

            <h3 id="your-credit-reports"> Confidentiality of Information</h3>
            <p>
              ALL ARTICLES AND MATERIAL DISPLAYED BY US ON THE WEBSITE ARE FOR INFORMATION ONLY (EXCEPTING
              amecocapital.com’S PRIVACY POLICY AND THE WEBSITE TERMS, WHICH ARE BINDING CONTRACTS), ARE NO SUBSTITUTE
              FOR SPECIFIC ADVICE, AND ARE IN NO MANNER TO BE CONSIDERED LEGAL ADVICE OR OTHER LICENSED PROFESSIONAL
              ADVICE OR A SUBSTITUTE THEREFOR. FOR SPECIFIC LEGAL ADVICE REGARDING YOUR PARTICULAR CIRCUMSTANCES, YOU
              MUST RETAIN LEGAL COUNSEL. amecocapital.com does not represent or guarantee the accuracy or reliability of
              any advice, opinion, statement, or other information displayed or distributed through the Website. You
              acknowledge that any reliance upon any such materials, opinion, advice, statement, memorandum, or
              information shall be at your sole risk. amecocapital.com reserves the right, in its sole discretion, to
              correct any errors or omissions in any portion of the Website.
              Any information contained on the Website with respect to results obtained by amecocapital.com is not meant
              to indicate that the same or similar results can or will be obtained in other cases or situations. Results
              will vary depending on the facts and circumstances of each individual matter. Prior results do not
              predict, warrant or guarantee a similar outcome. References to past or present members or the
              circumstances of their specific matters do not constitute testimonials or endorsements by such members,
              nor are they a guarantee, warranty or prediction of the outcome of your matter.
              Electronic mail or other communications through this site to amecocapital.com (or any of its employees,
              agents or representatives) are not secure. Accordingly, amecocapital.com does not guarantee the
              confidentiality of such communications. You acknowledge that transmissions to and from the Website are not
              confidential and your communications may be read or intercepted by others. Any unprotected e-mail
              communication over the Internet is subject to possible interception or loss, is not confidential and is
              also subject to possible alteration. We are not responsible for and will not be liable to you or any third
              party for damages in connection with an e-mail sent by you to us or an e-mail sent by us to you, or anyone
              you designate, at your request. Violators of this section who use our services for any illegal purpose
              including but not limited to repeated unwanted emails or “Spam,” may be prosecuted to the full extent of
              the law. You acknowledge that by submitting communications to amecocapital.com, no confidential,
              fiduciary, contractually implied or other relationship is created between you and amecocapital.com other
              than pursuant to the Website Terms and any subsequent written agreement entered into with
              amecocapital.com.
            </p>
            <p>
              You are solely responsible for
            </p>
            <ul>
              <li>maintaining the confidentiality and security of your login information, passwords, and any other
                security or access information used by you or anyone you authorize on your behalf to access the Website
                and your account information</li>
              <li>preventing unauthorized access to or use of the information, files, or data that you store or use in
                or with amecocapital.com’s Website</li>
              <li>all electronic communications, including account registration and other account holder information,
                email and financial, accounting and other data entered using the amecocapital.com Website, and </li>
              <li>without limiting the foregoing, any and all activities that occur under your account. amecocapital.com
                will assume that any communications received through the use of the amecocapital.com Website was sent or
                authorized by you.
              </li>
              <p>
                You
                agree to immediately notify amecocapital.com if you become aware of any loss, theft, or unauthorized use
                of the amecocapital.com Website or your account information.
                Please do not use the information on our Website to distribute unsolicited bulk e-mails, solicitations
                or
                inquiries. The foregoing acts will constitute a violation of the Website Terms.
              </p>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <footer class="section-sm bg-tertiary">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <div class="footer-widget">
            <h5 class="mb-4 text-primary font-secondary">Services</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/order/1">Personal loans</a>
              </li>
              <li class="mb-2"><a href="/order/2">Credit Repair</a>
              </li>
              <li class="mb-2"><a href="/order/1">Business Loans</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <div class="footer-widget">
            <h5 class="mb-4 text-primary font-secondary">Who we are</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/about">Our Story</a>
              </li>
              <li class="mb-2"><a href="/about">Our Team</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 mb-4">
          <div class="footer-widget">
            <h5 class="mb-4 text-primary font-secondary">Help</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/contact">Contact Us</a>
              </li>
              <li class="mb-2"><a href="/faq">Legal</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 newsletter-form">
          <div style="background-color: #F4F4F4; padding: 35px;border-radius: 10px;">
            <h5 class="mb-4 text-primary font-secondary">Subscribe</h5>
            <div class="pe-0 pe-xl-5">
              <form action="/add_mail_listing/about" method="POST" name="mc-embedded-subscribe-form" target="_blank">
                <div class="input-group mb-3">
                  <input name="mail" type="email" class="form-control shadow-none bg-white border-end-0"
                    placeholder="Email address">
                  <span class="input-group-text border-0 p-0">
                    <button class="input-group-text border-0 bg-primary" type="submit" name="subscribe"
                      aria-label="Subscribe for Newsletter"><i class="fas fa-arrow-right"></i></button>
                  </span>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
                </div>
              </form>
            </div>
            <p class="mb-0">Email is Safe; we Don't Spam.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center mt-5 text-center text-md-start">
        <div class="col-lg-4">
          <a href="/">
            <img loading="prelaod" decoding="async" class="img-fluid" width="130" src="/static/images/logo.png"
              alt="Wallet">
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <ul class="list-unstyled list-inline mb-0 text-lg-center align-items-center mt-3">
            <li class="list-inline-item me-4"><a class="text-black" href="/privacy-policy">Privacy Policy</a></li>
            <li class="list-inline-item me-4"><a class="text-black" href="/terms">Terms &amp; Conditions</a></li>
            <li class="list-inline-item me-4"><a class="text-black" href="/terms">Disclaimer</a></li>
          </ul>
          <div class="text-lg-center mt-3">
            <p class="mb-0">© 2021 Ameco Capital | All rights reserved</p>
            <p>* Results may vary</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
          <ul class="list-unstyled list-inline mb-0 social-icons">
            <li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black"
                href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item me-3"><a title="Explorer Twitter Profile" class="text-black"
                href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item me-3"><a title="Explorer Instagram Profile" class="text-black"
                href="h/Login-staticttps://instagram.com/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->


  <!-- # JS Plugins -->
  <script src="/static/js/script.js"></script>
  <script src="/static/plugins/jquery/jquery.min.js"></script>
  <script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="/static/plugins/slick/slick.min.js"></script>
  <script src="/static/plugins/scrollmenu/scrollmenu.min.js"></script>

</body>

</html>